<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里的***.**指的是包名-->
<mapper namespace="com.jerry.work.mapper.AlertTaskJennyMapper">

    <select id="findAlertTaskByAlertTimestampLessThanAndAlertTimesLessThanShouldAlertTimes" resultType="alertTaskJenny">
        select * from ai_alert_task_jenny where alert_timestamp &lt;= #{nowTimeStamp} AND alert_times &lt; should_alert_times
    </select>

    <update id="update" parameterType="alertTaskJenny">
        UPDATE ai_alert_task_jenny SET task_id = #{taskId},alert_timestamp=#{alertTimestamp},should_alert_times=#{shouldAlertTimes},alert_times=#{alertTimes}
    </update>

</mapper>