<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里的***.**指的是包名-->
<mapper namespace="com.jerry.work.mapper.primary.TmpMapper">

    <select id="findByEvent" resultType="com.jerry.work.bean.Tmp">
        select * from ai_tmp where event = #{event}
    </select>

</mapper>